# Virtual Environments
venv/
.venv/
env/

# Python and Testing Cache
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*

# Dynamically generated reports
reports/
htmlcov/

# Local environment variables (sensitive data)
.env
config/environments/*.env
!.github/

# IDEs
.vscode/
.idea/